@charset "utf-8";
.searchIconCss{background:url(../../../../images/imgPanel2.png) no-repeat scroll -188px -5px transparent; }
.delIconCss{background:url(../../../../images/imgPanel.png) no-repeat scroll -63px -83px transparent;}

.queryIconCss{  background:url(../../../../images/imgPanel2.png) no-repeat scroll -192px -102px transparent;  }
.tabIconCss{background:url(../../../../images/imgPanel.png) no-repeat scroll -32px -81px transparent;}

.editIconCss{  background:url(../../../../images/imgPanel2.png) no-repeat scroll -215px -103px transparent;  margin: 0 5px 0 5px}
.removeIconCss{  background:url(../../../../images/imgPanel2.png) no-repeat scroll -191px -127px transparent;  margin: 0 5px 0 5px}
.addIconCss{  background:url(../../../../images/imgPanel2.png) no-repeat scroll -215px -128px transparent;  }
.refreshIconCss{background:url(../../../../images/imgPanel2.png) no-repeat scroll -193px -34px transparent; }
.exportIconCss{  background:url(../../../../images/imgPanel2.png) no-repeat scroll -277px -176px transparent; }

.linkCss a{ color: green; cursor: pointer; text-decoration: none;}
.linkCss a:hover{color: orange; text-decoration: underline;}


.displayfieldCls { font-size: 12px; font-family: 微软雅黑,宋体; color: gray; padding: 0 0 0 8px;}
.uploadBtnCls{color: #1D6FB8;}
.uploadBtnCls:hover{color: orange; text-decoration: underline;}
.labelCls{font-size: 12px; color: #0E445F;}
.fieldBodyCls .x-form-text{font-size: 12px; color: #525252; border: none; background: transparent; border-bottom: 1px solid gray;}
.baseBodyCls .x-form-item-input-row .x-field-label-cell{text-align: right}
.fieldBodyCls2 .x-form-text{font-size: 12px; color: #525252; border: none; background: transparent; border: 1px solid gray;}
 
.choiceDisplayfield .x-form-item-label {font-size: 13px; color: #009900;}
.choiceDisplayfield .x-form-display-field { font-size: 13px; color: #009900;}
.childContentCls .x-panel-header-default{ background-color: transparent; border: 1px solid #b5b8c8;}
.childContentCls .x-panel-header-text-container-default{ color: orange;}

.pback_write_IconCls{background:url(../../../../images/imgPanel2.png) no-repeat scroll -28px -481px transparent; }

.iconComboboxCls .x-form-trigger-first{ margin-top: 28px }
.iconComboboxCls .x-form-trigger-wrap .x-trigger-cell{ background-color: transparent; }

.removeIconCss{  background:url(../../../../images/imgPanel2.png) no-repeat scroll -191px -127px transparent; }
.ctrlULCls{list-style: none;margin:0;padding:0}
.ctrlULCls li{float:left;margin:0;padding:0;width: 50%;}
.ctrlULCls li.maginTop{
	margin-top: 10px;
}
.ctrlULCls li span{width: 18px; height: 18px; display: block;float:left;}
.ctrlULCls li a{float:left;font-size: 12px; font-family: 微软雅黑,宋体; text-decoration: none; color: #3E3EFF; display: block}
.ctrlULCls li a:hover{text-decoration: underline; color: orange}
.middleFontSize{
	font-size: 14px;
}
.middleFontSize font{
	color:red;
}
