@charset "utf-8";
ul, ul li{list-style:none;list-style-type:none;float:left;border:none;margin:0;padding:0;width: 100%;}
/**FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#E7FFB6,endColorStr=#FFCBE5);background:-moz-linear-gradient(top,#E7FFB6,#FFCBE5);background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#E7FFB6), to(#FFCBE5)); */

.dropShadowCss{
	border:#909090 1px solid;
	background:#fff;
	color:#333;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=2);/*ie*/
	-moz-box-shadow: 2px 2px 5px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 5px #909090;/*safari或chrome*/
	box-shadow:2px 2px 5px #909090;/*opera或ie9*/
}
.queryIconCss{background:url(../../../images/imgPanel2.png) no-repeat scroll -192px -102px transparent; }
.searchIconCss{background:url(../../../images/imgPanel2.png) no-repeat scroll -188px -5px transparent; }
.sortBut_ASC{background:url(../../../images/imgPanel2.png) no-repeat scroll -104px -368px transparent; }
.sortBut_DESC{background:url(../../../images/imgPanel2.png) no-repeat scroll -128px -368px transparent;}
.delIconCss{background:url(../../../images/imgPanel.png) no-repeat scroll -63px -83px transparent;}
.refreshIconCss{background:url(../../../images/imgPanel2.png) no-repeat scroll -193px -34px transparent; }
.uploadIconCss{background:url(../../../images/imgPanel2.png) no-repeat scroll -216px -33px transparent; }
.diskIconCss{background:url(../../../images/imgPanel2.png) no-repeat scroll -344px -256px transparent;}
.clearmaterial{background:url(../../../images/imgPanel2.png) no-repeat scroll -9px -479px transparent;} 

/***/
            .itemUl{ width: 176px; list-style: none;margin: 4px;}
			.itemUl .li_01{ height: 22px; width:100%;}
			.itemUl .li_01 .span_chk{ float:left;width:20px;height:20px; line-height: 18px; text-align: center;}
			.itemUl .li_01 .span_name{ float:left;width:20px;height:20px; padding: 0 0 0 3px;}
			.itemUl .li_01 .span_del{ float:right;width:18px;height:20px; cursor: pointer; border: 1px dashed transparent;}
			.itemUl .li_01 .tit{ border: none; width: 120px; height: 20px; background: transparent; color: black;font-weight: normal; font-size: 12px; }

			.itemUl .li_02{ position: relative }
			.itemUl .li_02 .tab{ width: 100%; height: 120px; }
			.itemUl .li_02 .hoverDiv{  display: none;position: absolute; width: 100%;  left:0; top:0;background: green;Filter:alpha(opacity=70);Opacity:0.7;}
			.itemUl .li_02 .hoverDiv .titl{border: none; width: 115px; height: 15px; background: transparent; color: white; font-size: 12px;font-family: 微软雅黑,宋体}
			.itemUl .li_02 .hoverDiv table{ width: 100%; }
			.itemUl .li_02 .hoverDiv table tr td{ color: white;  font-size: 12px; background: transparent;font-family: 微软雅黑,宋体,font-weight: noraml; padding: 1px;}
			
			.itemUl .li_02 .hoverDiv_cover{  display: block;position: absolute; width: 100%; height: 100%; left:0; top:0;background: transparent;}

			.itemUl .li_03{ height: 25px; width: 100%; }
			.itemUl .li_03 .ulBut{ list-style: none;margin:0;padding:0 0 3px 1px; height: 25px;}
			.itemUl .li_03 .ulBut li{ float: left; display: inline; width: 28px; margin: 0 0 0 6px}
			.itemUl .li_03 .ulBut li .ctrl_but{ width: 26px; height: 26px; border: none; background-color: transparent; display: block;}
			.itemUl .li_03 .ulBut li .ctrl_but:hover{ border-bottom: 2px solid orange; text-align: center;}


			.dropShadowCss{
				border: lightgray 1px solid;
				background:#fff;
				color:#333;
				filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
				-moz-box-shadow: 2px 2px 6px #909090;/*firefox*/
				-webkit-box-shadow: 2px 2px 6px #909090;/*safari或chrome*/
				box-shadow:2px 2px 6px #909090;/*opera或ie9*/
			} 
		
			.ext_panel_backDD_ul{
				background: #D1EFEE; /* Old browsers */
				background: -moz-linear-gradient(#D1EFEE 0%, #FFFFFF 30%, white 70%, #D1EFEE 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,#D1EFEE),color-stop(30%,#FFFFFF),color-stop(70%,#FFFFFF),color-stop(100%,#D1EFEE)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left top, #D1EFEE 0%, #FFFFFF 30%, white 70%, #D1EFEE 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left top, #D1EFEE 0%, #FFFFFF 30%, white 70%, #D1EFEE 100%); /* Opera11.10+ */
				background: -ms-linear-gradient(left top, #D1EFEE 0%, #FFFFFF 30%, white 70%, #D1EFEE 100%); /* IE10+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1EFEE', endColorstr='#FFFFFF',GradientType=1 ); /* IE6-9 */
				background: linear-gradient(left top, #D1EFEE 0%, #FFFFFF 30%, white 70%, #D1EFEE 100%); /* W3C */
			}

			.ext_panel_backConn{
				background: white; /* Old browsers */
				background: -moz-linear-gradient(left top, white 0%, green 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,white),color-stop(100%,green)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left top, white 0%,green 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left top, white 0%,green 100%); /* Opera11.10+ */
				background: -ms-linear-gradient(left top, white 0%,green 100%); /* IE10+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='green',GradientType=1 ); /* IE6-9 */
				background: linear-gradient(left top, white 0%,green 100%); /* W3C */
			}
			
			.ext_panel_backDisconn{
				background: white; /* Old browsers */
				background: -moz-linear-gradient(left top, white 0%, gray 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,white),color-stop(100%,gray)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left top, white 0%,gray 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left top, white 0%,gray 100%); /* Opera11.10+ */
				background: -ms-linear-gradient(left top, white 0%,gray 100%); /* IE10+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='gray',GradientType=1 ); /* IE6-9 */
				background: linear-gradient(left top, white 0%,gray 100%); /* W3C */
			}

			.removeIconCss{  background:url(../../../images/imgPanel2.png) no-repeat scroll -191px -127px transparent;  }
			.startIconCss{ background:url(../../../images/imgPanel2.png) no-repeat scroll -211px -357px transparent; }
			.startTerIconCss{ background:url(../../../images/imgPanel2.png) no-repeat scroll -187px -385px  transparent; }
			.terIconCss{ background:url(../../../images/imgPanel2.png) no-repeat scroll -212px -385px  transparent; }
			.planIconCss{ background:url(../../../images/imgPanel2.png) no-repeat scroll -186px -416px  transparent; }
			.cutScreenIconCss{ background:url(../../../images/imgPanel2.png) no-repeat scroll -214px -416px  transparent; }
			.startingIconCss{ background:url(../../../images/imgPanel2.png) no-repeat scroll -186px -442px  transparent; }
			/**
              more 
              */
			.moreIconCss{ background:url(../../../images/imgPanel2.png) no-repeat scroll -464px -10px  transparent; }
			.menuPowerIconCss{ background:url(../../../images/imgPanel2.png) no-repeat scroll -469px -48px  transparent; }
            .menuMsgIconCss{ background:url(../../../images/imgPanel2.png) no-repeat scroll -469px -70px  transparent; }			
            .menuUpdateIconCss{ background:url(../../../images/imgPanel2.png) no-repeat scroll -469px -119px  transparent; }			
 
  .totalCountCls .x-form-item-label-left{color: blue;font-size:12px;}
  .totalCountCls .x-form-display-field{color: blue;}
  
  
  
.enableRow .x-grid-cell{color: #232323;}
.disableRow .x-grid-cell{color: gray;}
.messagetext{font-size: 14px;}
