@charset "utf-8";
body,html{background-position:center center;background-repeat: no-repeat;background-attachment: scroll;text-align:center;}
.alphaBack{background: transparent;}
.panelBodyCls{background: url(../../../images/wallpaper/backg02.png);}


.apkPanelBodyCls{background: white;Filter:alpha(opacity=70);Opacity:0.7;  -webkit-border-radius: 5px;-moz-border-radius:5px;	-ms-border-radius: 5px;-o-border-radius:5px;border-radius:5px;}
.loginImgIconCss{background:url(../../../images/imgPanel2.png) no-repeat scroll -232px 17px  transparent;}


/* .loginLogoIconCss_azld{background:url(../../images/other/loginLogo_azld.png) no-repeat scroll center center  transparent;} */
.loginLogoIconCss_azld{background:url(../../../images/other/azld.png) no-repeat scroll center center  transparent;background-size:87px 53px;-moz-background-size:87px 53px;}
.loginLogoIconCss_cn{background:url(../../../images/other/loginLogo_cn.png) no-repeat scroll center center  transparent;background-size:87px 53px;-moz-background-size:87px 53px;}
.loginLogoIconCss_kr{background:url(../../../images/other/loginLogo_cn.png) no-repeat scroll center center  transparent;background-size:87px 53px;-moz-background-size:87px 53px;}
.loginLogoIconCss_sct{background:url(../../../images/other/loginLogo_sct.png) no-repeat scroll center center  transparent;background-size:87px 53px;-moz-background-size:87px 53px;}
.loginLogoIconCss_xj{background:url(../../../images/other/loginLogo_xj.png) no-repeat scroll center center  transparent;background-size:87px 53px;-moz-background-size:87px 53px;}
.loginLogoIconCss_ct{background:url(../../../images/other/loginLogo_ct.png) no-repeat scroll center center  transparent;}
/* .newloginLogoIconCss{
	background:url(../../images/other/azld.png) no-repeat scroll center center  transparent;
} */
.welcomeCss{
	background:url(../../../images/other/title.png) no-repeat scroll center center  transparent;
}
.welCls{
	background:url(../../../images/other/title_en.png) no-repeat scroll center center  transparent;
}
.loginIconCss{background:url(../../../images/imgPanel2.png) no-repeat scroll -218px -440px  transparent; }
.butFontIconCss{  color: white; font-size: 18px; font-family: 微软雅黑,宋体;letter-spacing:2px }

.tipFontCls{color: #FF9393;padding:2px;font-size: 12px;background: rgba(0,0,0,0.5); Filter:alpha(opacity=70);Opacity:0.7;  -webkit-border-radius: 5px;-moz-border-radius:5px;	-ms-border-radius: 5px;-o-border-radius:5px;border-radius:5px;}

.fieldInputCls{font-weight: bold; font-size: 16px; font-family: -webkit-pictograph; }
.x-form-empty-field, textarea.x-form-empty-field{font-size:13px;}
body{text-align:center;}

#loginpanel #loginpanel-body{background: none; }
#registerpanel #registerpanel-body{background: none; }
#loginpanel{top:100px;}
#registerpanel{top:100px;}
.skinCss{
		background:transparent;
	font-size:16px;
	line-height:24px;
	background:transparent;
 	background:url(../../../images/other/skin_b.png) no-repeat scroll center center  transparent; 
}
.danSkCls{
	background:url(../../../images/other/skin_a.png) no-repeat scroll center center  transparent;
}
.lanCCls{
	background:transparent;
	height:24px;
	font-size:16px;
	line-height:24px;
	padding:0px 10px;
	border-right: #000 2px solid;
	color: #000;
}
.lanECls{
	background:transparent;
	height:24px;
	font-size:16px;
	line-height:24px;
	padding:0px 0px 0px 10px;
	color: #000;
}
.tlogin{
	color: #6b99f5;
	font-size:14px;
}
.dangCls{
	color: #6b99f5;
}	
.inpuNcss{
	background-color: #EDEDED;
	border-radius:2px;
}
.inpuMcss{
	background-color: #EDEDED;
	border-radius:2px;
}
.userCss{
	background:url(../../../images/other/acco.png) no-repeat scroll center center  transparent;
}
.passCss{
	background:url(../../../images/other/keyw.png) no-repeat scroll center center  transparent;
}
.DownCls{
	background:transparent;
	color:#8DB3FF;
	cursor:pointer;
}
.newloginIconCss{
	color: white; font-size: 18px; font-family: 微软雅黑,宋体;letter-spacing:2px ;
	background-color: #8DB3FE;
	border-radius:2px;
}
.newregisterIconCss{
	color: white; font-size: 18px; font-family: 微软雅黑,宋体;letter-spacing:2px ;
	background-color: #6a9bf5;
	border-radius:2px;
}
.newloginIconCss,.newregisterIconCss:hover{
	background-color: #0642A1;
}
.desizeCls{font-size: 14px;}
.decolorCls{color: #6a9bf5;}
.degreycolorCls{color: #999999;}
.labelCls{font-size: 16px; color: #000000; font-weight: 750; padding-top: 10px;}
.fieldBodyCls .x-form-text{font-size: 12px; color: #525252; border: none; background: transparent; border-bottom: 1px solid gray;}
.baseBodyCls .x-form-item-input-row .x-field-label-cell{text-align: right}
